.body{
    background-image: url('./../../assets/images/image1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 902px;
    margin-top: -230px;
}
.continer {
    background-color: white;
    width: 350px;
    height:250px;
    margin-top: 15%;
    margin-left: 40%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10%;
}
.image{
   display: flex; 
   align-items: center;
   padding-left: 40%;
   
}
button{
    margin-left: 20%;
}